*{
    margin: 0;
    padding: 0;
}

.Admin-Dashboard-Container{
    display: flex;
    flex-direction: column;
}

.Admin-Dashboard-Body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
}