*{
    margin: 0px;
    padding: 0px;
}

.ReviewContainer{
    margin-top: 40px;
    margin-bottom: 20px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    min-height: 300px;
    /* height: 300px; */
    max-height: max-content;
    border: 1px solid black;
}

.ReviewHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

}

.ReviewHeaderBody{
    display:flex;
    flex-direction: column;
}

.ReviewBodyRate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ReviewBodyDate{
    font-size: 12px;
    font-weight: 700;
    color: rgb(106, 111, 115);
}

.ReviewBody{
    margin: 10px;
}